<div class="modal-overlay" *ngIf="isOpen">
  <div class="modal-content">
    <!-- Conteúdo de Locação -->
    <div *ngIf="modalContent === 'locacao'">
      <h2>Adicionar Locação</h2>

      <!-- Buscar Cliente -->
      <div class="section">
        <h3>Buscar Cliente</h3>
        <div class="form-group">
          <input
            type="text"
            placeholder="Buscar cliente pelo nome ou CPF"
            [(ngModel)]="termoBuscaCliente"
          />
          <button (click)="buscarCliente()">Buscar</button>
        </div>
        <div *ngIf="clienteEncontrado">
          <p>{{ clienteEncontrado.nome }}</p>
        </div>
        <button (click)="abrirModalCadastroCliente()">
          Cadastrar Novo Cliente
        </button>
      </div>

      <!-- Adicionar Equipamento -->
      <div class="section">
        <h3>Adicionar Equipamento</h3>
        <div class="form-group">
          <select [(ngModel)]="equipamentoSelecionado">
            <option [value]="null" disabled selected>
              Selecione um equipamento
            </option>
            <option
              *ngFor="let equipamento of equipamentos"
              [value]="equipamento.nome"
            >
              {{ equipamento.nome }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <button (click)="abrirModalCadastroEquipamento()">
            Adicionar Novo Equipamento
          </button>
        </div>
      </div>

      <!-- Informações da Locação -->
      <div class="section">
        <h3>Informações da Locação</h3>
        <div class="form-row">
          <div class="form-group">
            <label for="dataLocacao">Data de Locação:</label>
            <input type="date" id="dataLocacao" [(ngModel)]="dataLocacao" />
          </div>
        </div>
      </div>

      <!-- Botões de Ação -->
      <div class="actions">
        <button (click)="closeModal()">Cancelar</button>
        <button (click)="cadastrarLocacaoEquipamento()">Salvar</button>
      </div>
    </div>

    <!-- Conteúdo de Cadastro de Cliente -->
    <div *ngIf="modalContent === 'cadastroCliente'">
      <h2>Cadastrar Novo Cliente</h2>

      <form (ngSubmit)="cadastrarCliente()">
        <div class="section">
          <div class="form-group">
            <label for="nomeCliente">Nome:</label>
            <input
              type="text"
              id="nomeCliente"
              [(ngModel)]="novoCliente.nome"
              name="nome"
              required
            />
          </div>
          <div class="form-group">
            <label for="enderecoCliente">Endereço:</label>
            <input
              type="text"
              id="enderecoCliente"
              [(ngModel)]="novoCliente.endereco"
              name="endereco"
            />
          </div>
          <div class="form-group">
            <label for="telefoneCliente">Telefone:</label>
            <input
              type="text"
              id="telefoneCliente"
              [(ngModel)]="novoCliente.telefone"
              name="telefone"
            />
          </div>
        </div>

        <div class="actions">
          <button (click)="modalContent = 'locacao'">Voltar</button>
          <button type="submit">Salvar Cliente</button>
        </div>
      </form>
    </div>

    <div *ngIf="modalContent === 'cadastroEquipamento'">
      <h2>Cadastrar Novo Equipamento</h2>

      <form (ngSubmit)="cadastrarEquipamento()">
        <div class="section">
          <div class="form-group">
            <label for="nomeEquipamento">Nome:</label>
            <input
              type="text"
              id="nomeEquipamento"
              [(ngModel)]="novoEquipamento.nome"
              name="nome"
              required
            />
          </div>
          <div class="form-group">
            <label for="tipoEquipamento">Tipo:</label>
            <input
              type="text"
              id="tipoEquipamento"
              [(ngModel)]="novoEquipamento.tipo"
              name="tipo"
            />
          </div>
          <div class="form-group">
            <label for="quantidadeEquipamento">Quantidade:</label>
            <input
              type="number"
              id="quantidadeEquipamento"
              [(ngModel)]="novoEquipamento.quantidade"
              name="quantidade"
            />
          </div>
          <div class="form-group">
            <label for="valorEquipamento">Valor:</label>
            <input
              type="text"
              id="valorEquipamento"
              [(ngModel)]="novoEquipamento.valor"
              name="valor"
            />
          </div>
        </div>

        <div class="actions">
          <button (click)="modalContent = 'locacao'">Voltar</button>
          <button type="submit">Salvar Equipamento</button>
        </div>
      </form>
    </div>
  </div>
</div>
