.input-wrapper {
  color: #2f2c2b;
  font-size: 16px;
  text-align: start;
}

.input-wrapper .input-content {
  display: flex;
  width: 100%;
  border-radius: 8px;
}

input:focus {
  outline: none;
  border-color: transparent;
}

.input-wrapper .input-content .icon {
  padding: 12px;
  background-color: #79451d;
  border-radius: 0 8px 8px 0;
}

.input-wrapper .input-content .icon img {
  height: 20px;
}

.input-wrapper input {
  border: none;
  border-radius: 8px 0 0 8px;
  background-color: #d7621a;
  padding: 12px 0 12px 20px;
  width: 100%;
}
