<app-default-login-layout
  title="Login into your account"
  primaryBtnText="Login Now"
  secondaryBtnText="Signup Now"
  (submit)="submit()"
  (navigate)="navigate()"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="username"
      inputName="username"
      type="text"
      label="Username"
    >
      <i class="fa-solid fa-user"></i>
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Your Password"
    >
      <i class="fa-solid fa-lock"></i>
    </app-primary-input>
  </form>
</app-default-login-layout>
