<main class="navbar-container">
  <div class="navbar-title">
    <h2>My App</h2>
  </div>
  <div class="divider"></div>
  <article class="navbar-content">
    <div class="sidebar">
      <ul class="navbar-links">
        <li
          [ngClass]="{ selected: activeComponent === 'equipamentos' }"
          (click)="setActiveComponent('equipamentos')"
        >
          Equipamentos
        </li>
        <li
          [ngClass]="{ selected: activeComponent === 'locacoes' }"
          (click)="setActiveComponent('locacoes')"
        >
          Locações
        </li>
        <li
          [ngClass]="{ selected: activeComponent === 'usuarios' }"
          (click)="setActiveComponent('usuarios')"
        >
          Usuários
        </li>
      </ul>
    </div>
  </article>
</main>
