.login-container {
  display: flex;
  flex-direction: row;
}

.image-container img {
  max-width: 50vw;
}

.form-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 3rem;
}

.form-container form h1 {
  font-stretch: condensed;
}

.form-container input[type="text"],
input[type="password"] {
  padding: 8px;
  margin-top: 10px;
}

.form-container input[type="button"] {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
}
