<div class="page-content">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>
          <select id="tipoFiltro" [(ngModel)]="filtroTipo">
            <option value="">Tipo</option>
            <option *ngFor="let tipo of tipos" [value]="tipo">
              {{ tipo }}
            </option>
          </select>
        </th>
        <th>Quantidade</th>
        <th>Valor</th>
        <th>Total de Locações</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipamento of equipamentosFiltrados">
        <td>{{ equipamento.nome }}</td>
        <td>{{ equipamento.tipo }}</td>
        <td>{{ equipamento.quantidade }}</td>
        <td>R$ {{ equipamento.valor }},00</td>
        <td>{{ equipamento.totalAlocacoes }}</td>
        <td class="form-buttons">
          <button class="btn-edit">
            <img src="assets/svg/edit-3-svgrepo-com.svg" width="20px" /></button
          ><button class="btn-rent">
            <img
              src="assets/svg/trolley-cart-ui-svgrepo-com.svg"
              width="20px"
            />
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
