.page-content {
  margin: 2rem 2rem 0 2rem;
  height: 100%;
}

table {
  border-radius: 10px;
  height: min-content;
}

.table th {
  background-color: #fd8d32;
  border-right: 1px solid #d7621a;
  border-left: 1px solid #d7621a;
}

.table td {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.form-buttons button {
  text-align: center;
  margin: 0 0.2rem 0 0;
  padding: 2px 4px;
  border-radius: 4px;
}

.btn-edit {
  background-color: rgb(76, 224, 76);
}

.btn-rent {
  background-color: rgb(45, 131, 236);
}

.btn-next {
  display: flex;
  justify-content: right;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pagination button {
  padding: 5px 10px;
}

.pagination button.active {
  font-weight: bold;
  text-decoration: underline;
}

button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

select {
  background-color: #fd8d32;
  border: none;
  outline: none;
  font-weight: 700;
}
