<div class="page-content">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Quantidade</th>
        <th>Valor</th>
        <th>Total de Locações</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipamento of equipamentos">
        <td>{{ equipamento.nome }}</td>
        <td>
          <select name="type" id="type-select">
            <option value="">Select a Type</option>
            <option value="audio and video">Aúdio e Vídeo</option>
            <option value="computers">Computadores</option>
            <option value="photography">Fotografia</option>
            <option value="web">Redes</option>
            <option value="peripherals">Periféricos</option>
            <option value="mobile">Mobile</option>
          </select>
        </td>
        <td>{{ equipamento.quantidade }}</td>
        <td>R$ {{ equipamento.valor }},00</td>
        <td>{{ equipamento.totalAlocacoes }}</td>
        <td class="form-buttons">
          <button class="btn-edit">
            <img src="assets/svg/edit-3-svgrepo-com.svg" width="20px" /></button
          ><button class="btn-rent">
            <img
              src="assets/svg/trolley-cart-ui-svgrepo-com.svg"
              width="20px"
            />
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="btn-next">
    <button>Próximo</button>
  </div>
</div>
