<div *ngIf="isLoading" class="loading-container">
  <div class="spinner"></div>
  <p>Carregando equipamentos...</p>
</div>

<div class="page-content" *ngIf="!isLoading">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome do Cliente</th>
        <th>Itens Locados</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.nome }}</td>
        <td>{{ formatarItensAlocados(cliente.itensAlocados) }}</td>
        <td class="form-buttons">
          <button (click)="abrirJanela($event, cliente)" class="btn btn-info">
            Exibir Detalhes
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Controles de página -->
  <div class="pagination">
    <button
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Prev
    </button>
    <span>{{ currentPage }} of {{ totalPages }}</span>
    <button
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      Next
    </button>
  </div>
  <div class="btn-add">
    <button (click)="openModal()">Adicionar</button>
    <app-modal #modal></app-modal>
  </div>
</div>
